html {
font-family: "Roboto Mono", monospace;
font-weight:300;
color:white;
scroll-behavior:smooth;
}

body {
background:black;
margin:0px;
}

h1, 
h2,
a {
font-size:18px;
}

p {
font-size:12px;
}

.main {
}

.header {
width: 15%;
margin-left: 100px;
padding-top: 100px;
margin-right: 0;
margin-bottom: 0;
position: sticky;
top: 0;
height: 100%;
}

.body {
width:100%;
height:100%;
margin:100px;
margin-left:64px;
margin-bottom:0px;
}

.green {
background:black;
}

.logo-box {
margin-bottom: 89px;
width:fit-content;
}

.logo-box h {
font-size: 18px;
}

.logo {
margin-bottom: 44px;
}

.flex {
display:flex;
}

.column {
flex-direction:column;
}

.btn {
margin-bottom:25.5px;
text-decoration:none;
color:white;
}

.btn-active {
text-transform:uppercase;
font-weight:bold;
}

.sub-btns {
text-indent:25px;
}

.flex.column.sub-btns {
margin-top:-12.5px;
margin-bottom:12.5px;
}

.flex.column.sub-btns > .btn {
margin-bottom: 12.5px;
}

.href-section {
scroll-margin-top:100px;
}

/* PAGE SPECIFIC STYLING */

.work {
margin-bottom:88px;
}

.company {
margin:0;
margin-bottom:12.5px;
}

.time {
margin-top:-5px;
margin-bottom:27px;
}

/*
.description {
font-weight:300;
font-size:medium;
}
*/

.body h2 {
margin:0;
margin-bottom:20px;
text-transform:uppercase;
}

.design {
gap:25px;
margin-bottom:94px;
display:grid;
grid-template-columns:repeat(3, 1fr);
}

.design div {
flex-basis:30%;
flex-grow:1;
}

.design img {
width:100%;
display:block;
}

#design4 {
margin-bottom:99px;
}

.photos {
display:flex;
gap:25px;
flex-wrap:wrap;
margin-bottom:100px;
}

.photobox {
display: grid;
grid-template-columns: auto auto auto auto auto auto;
gap: 25px;
grid-auto-flow: dense;
}

.photobox:nth-child(even) {
direction: rtl;
}

.photobox div:nth-child(odd) {
grid-column: span 1;
}

.photobox div:nth-child(even) {
grid-column: span 2;
}

.photobox img {
display:block;
width:100%;
height:100%;
object-fit:cover;
}

.videos {
margin-bottom:97px;
}

.videobox {
gap: 25px;
margin-bottom: 94px;
display: grid;
grid-template-columns:repeat(3, 1fr);
}

.videobox iframe {
width:100%;
height:100%;
border:0;
display:block;
}

.videobox p {
margin-top:12.5px;
margin-bottom:0;
}

.videobox div {
height:auto;
aspect-ratio: 16 / 9;
}

.gridbox {
gap: 25px;
margin-bottom: 94px;
display: grid;
grid-template-columns:repeat(3, 1fr);
}

.gridbox iframe {
display:block;
}

.gridbox div {
flex-basis: 30%;
flex-grow: 1;
}

.gridbox p {
margin-top:7.5px;
margin-bottom:-3px;
}

.music {
margin-bottom:7px;
}

.personal,
.production,
.mixing {
margin-bottom:93px;
scroll-margin-top:128px;
}

.personal h2,
.production h2,
.mixing h2 {
margin-top:0;
}

.youtube {
width: 100%;
height: auto;
border: 0;
display: block;
aspect-ratio:16 / 9;
}

.privacyPolicy {
display:none!important;
}
