html {
    font-family: "Roboto Mono", monospace;
    font-weight:300;
    color:white;
    scroll-behavior:smooth;
}

body {
    background:black;
    margin:0px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1, 
h2,
a {
    font-size:22px;
}

p {
    font-size:16px;
}

.main {
}

.header {
width: 15%;
margin-left: 100px;
padding-top: 100px;
margin-right: 0;
margin-bottom: 0;
position: sticky;
top: 0;
height: 100%;
}

.body {
width:100%;
height:100%;
margin:100px;
margin-bottom:0%;
}

.green {
background:black;
}

.logo-box {
margin-bottom: 88px;
width:fit-content;
}

.logo-box h {
    font-size: 22px;
}

.logo {
    margin-bottom: 43px;
}

.flex {
display:flex;
}

.column {
flex-direction:column;
}

.btn {
margin-bottom:25.5px;
text-decoration:none;
color:white;
}

.btn-active {
margin-bottom:13px;
text-transform:uppercase;
font-weight:bold;
}

.sub-btns {
text-indent:25px;
}

.flex.column.sub-btns > .btn {
    margin-bottom:12px;
}

.href-section {
scroll-margin-top:100px;
}

/* PAGE SPECIFIC STYLING */

.work {
margin-bottom:100px;
}

.company {
margin:0;
font-size:medium;
margin-bottom:12.5px;
}

.time {
margin-top:0;
margin-bottom:25px;
font-size:small;
}

.description {
font-weight:300;
font-size:medium;
}

.body h2 {
margin:0;
margin-bottom:25px;
}

.design {
flex-wrap:wrap;
gap:15px;
margin-bottom:75px;
}

.design div {
flex-basis:21%;
flex-grow:1;
}

.design img {
width:100%;
display:block;
}

.photos {
display:flex;
gap:15px;
flex-wrap:wrap;
}

.photobox {
display: grid;
grid-template-columns: auto auto auto auto auto auto;
gap: 15px;
grid-auto-flow: dense;
}

.photobox:nth-child(even) {
direction: rtl;
}

.photobox div:nth-child(odd) {
grid-column: span 1;
}

.photobox div:nth-child(even) {
grid-column: span 2;
}

.photobox img {
display:block;
width:100%;
height:100%;
object-fit:cover;
}

.videobox {
display:grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
row-gap:25px;
column-gap:15px;
}

.videobox div {
height: auto;
aspect-ratio: 16 / 9;
}

.videobox iframe {
width: 100%;
height: 100%;
border: 0;
display: block;
}

.videobox p {
margin-top:12.5px;
margin-bottom:0;
}

.gridbox {
display: flex;
flex-wrap: wrap;
gap: 15px;
}

.gridbox iframe {
display:block;
}

.gridbox div {
flex-basis: 30%;
flex-grow: 1;
}

.gridbox p {
margin-top:7.5px;
margin-bottom:7px;
}

.personal,
.production,
.mixing {
margin-bottom:80px;
scroll-margin-top:100px;
}

.personal h2,
.production h2,
.mixing h2 {
margin-top:0;
}

.youtube {
width: 100%;
height: auto;
border: 0;
display: block;
aspect-ratio:16 / 9;
}

.privacyPolicy {
    display:none!important;
}
