:root {
  --vw-scale: calc(100vw / 2560);
  --vh-scale: calc(100vh / 1440);
}

* {
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
}

img, a {
-webkit-user-drag:none;
user-drag:none;
}

input, textarea, select, [contenteditable="true"] {
user-select:text;
-webkit-user-select:text;
}

html {
font-family:"Roboto Mono", monospace;
font-weight:300;
color:white;
scroll-behavior:smooth;
}

body {
background:black;
margin:0px;
}

body.first-visit {
animation:fadeIn 2s;
}

@keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}

h1, h2, a, .logo-box h {
font-size:calc(20 * var(--vh-scale));
}

p {
font-size:calc(14 * var(--vh-scale));
}

.header {
width:15%;
margin-left:calc(100 * var(--vw-scale));
padding-top:calc(100 * var(--vh-scale));
margin-right:0;
margin-bottom:0;
position:sticky;
top:0;
height:100%;
}

.body {
width:100%;
height:100%;
margin-top:calc(100 * var(--vh-scale));
margin-right:calc(100 * var(--vw-scale));
margin-left:calc(28 * var(--vw-scale));
margin-bottom:0px;
}

.green {
background:black;
}

.logo-box {
margin-bottom:calc(89 * var(--vh-scale));
width:fit-content;
}

.logo {
margin-bottom:calc(44 * var(--vw-scale));
}

.flex {
display:flex;
}

.column {
flex-direction:column;
}

.btn {
margin-bottom:calc(28 * var(--vh-scale));
text-decoration:none;
color:white;
}

.btn-active {
text-transform:uppercase;
font-weight:bold;
}

.sub-btns {
text-indent:calc(25 * var(--vw-scale));
}

.flex.column.sub-btns {
margin-top:calc(-13 * var(--vh-scale));
margin-bottom:calc(13 * var(--vh-scale));
}

.flex.column.sub-btns > .btn {
margin-bottom:calc(15 * var(--vh-scale));
}

.href-section {
scroll-margin-top:calc(100 * var(--vh-scale));
}

/* PAGE SPECIFIC STYLING */

.work {
margin-top:calc(-6 * var(--vh-scale));
margin-left:calc(-2 * var(--vw-scale));
margin-bottom:calc(96 * var(--vh-scale));
}

.time {
margin-top:calc(-16 * var(--vh-scale));
margin-bottom:calc(17 * var(--vh-scale));
}

.body h2 {
margin:0;
margin-left:calc(-1 * var(--vw-scale));
margin-bottom:calc(21 * var(--vh-scale));
text-transform:uppercase;
}

.design {
column-gap:calc(25 * var(--vw-scale));
row-gap:calc(25 * var(--vh-scale));
margin-bottom:calc(94 * var(--vh-scale));
display:grid;
grid-template-columns:repeat(3, 1fr);
}

.design div {
flex-basis:30%;
flex-grow:1;
}

.design img {
width:100%;
height:auto;
display:block;
}

#soufpaw {
margin-bottom:calc(100 * var(--vh-scale));
}

.photos {
display:flex;
column-gap:calc(25 * var(--vw-scale));
row-gap:calc(25 * var(--vh-scale));
flex-wrap:wrap;
margin-bottom:calc(100 * var(--vh-scale));
}

.photobox {
display:flex;
column-gap:calc(25 * var(--vw-scale));
row-gap:calc(25 * var(--vh-scale));
width:100%;
}

.photobox div {
width:100%;
height:auto;
}

.photobox img {
width:100%;
height:100%;
display:block;
object-fit:cover;
}

.videos {
margin-left:calc(-2 * var(--vw-scale));
margin-bottom:calc(100 * var(--vh-scale));
}

.videobox {
display:grid;
grid-template-columns:repeat(3, minmax(0, 1fr));
column-gap:calc(25 * var(--vw-scale));
row-gap:calc(25 * var(--vh-scale));
margin-bottom:calc(94 * var(--vh-scale));
width:100%;
box-sizing:border-box;
}

.videobox iframe {
width:100%;
height:100%;
border:0;
display:block;
}

.videobox video {
display:block;
}

.videobox p {
margin-top:calc(9 * var(--vh-scale));
margin-bottom:calc(-2 * var(--vh-scale));
}

.videobox div {
height:auto;
aspect-ratio:16 / 9;
}

.gridbox {
column-gap:calc(25 * var(--vw-scale));
row-gap:calc(25 * var(--vh-scale));
margin-bottom:calc(95 * var(--vh-scale));
display:grid;
grid-template-columns:repeat(3, 1fr);
}

.gridbox iframe {
display:block;
height:calc(178.5 * var(--vh-scale));
}

.gridbox div {
flex-basis:30%;
flex-grow:1;
}

.gridbox p {
margin-top:calc(10 * var(--vh-scale));
margin-bottom:calc(-2 * var(--vh-scale));
}

.music {
margin-bottom:calc(7 * var(--vh-scale));
}

.personal, .production, .mixing {
scroll-margin-top:calc(100 * var(--vh-scale));
margin-bottom:calc(94 * var(--vh-scale));
}

.mixing {
margin-bottom:calc(100 * var(--vh-scale));
}

.personal h2, .production h2, .mixing h2 {
margin-top:0;
}

.youtube {
width:100%;
height:auto;
border:0;
display:block;
aspect-ratio:16 / 9;
}

.privacyPolicy {
display:none!important;
}

#\32\.20\.03, .personal {
margin-top:calc(-6 * var(--vh-scale));
}
