html {
    font-family: "Roboto Mono", monospace;
    font-weight:300;
    color:white;
}

body {
    background:black;
    margin:0px;
}

.main {
}

.header {
width: 15%;
margin-left: 5%;
padding-top: 5%;
margin-right: 0;
margin-bottom: 0;
position: sticky;
top: 0;
height: 100%;
}

.body {
width:100%;
height:100%;
margin:5%;
margin-bottom:0%;
}

.green {
background:black;
}

.logo-box {
margin-bottom:10vh;
}

.logo {
width:100px;
height:100px;
margin-bottom:2vh;
}

.flex {
display:flex;
}

.column {
flex-direction:column;
}

.btn {
margin:10px 0;
text-decoration:none;
color:white;
}

.btn-active {
text-transform:uppercase;
font-weight:bold;
}

/* PAGE SPECIFIC STYLING */

.work {
margin-bottom:5vh;
}

.company {
margin:0;
font-size:medium;
margin-bottom:5px;
}

.time {
margin-top:0;
font-size:small;
}

.description {
font-weight:300;
font-size:medium;
}

.body h2 {
margin-top:0;
font-size:medium;
}

.design {
flex-wrap:wrap;
gap:15px;
}

.design div {
flex-basis:21%;
flex-grow:1;
}

.design img {
width:100%;
display:block;
}

.photos {
display:flex;
gap:15px;
flex-wrap:wrap;
}

.photobox {
display: grid;
grid-template-columns: auto auto auto auto auto auto;
gap: 15px;
grid-auto-flow: dense;
}

.photobox:nth-child(even) {
direction: rtl;
}

.photobox div:nth-child(odd) {
grid-column: span 1;
}

.photobox div:nth-child(even) {
grid-column: span 2;
}

.photobox img {
display:block;
width:100%;
height:100%;
object-fit:cover;
}

.videobox {
display:grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
gap:15px;
}

.videobox div {
height: auto;
aspect-ratio: 16 / 9;
}

.videobox iframe {
width: 100%;
height: 100%;
border: 0;
display: block;
}

.videobox p {
font-size:small;
margin-bottom:0;
}

.gridbox {
display: flex;
flex-wrap: wrap;
gap: 15px;
}

.gridbox div {
flex-basis: 30%;
flex-grow: 1;
}

.gridbox p {
font-size:small;
margin-top:0;
}

.personal,
.production,
.mixing {
margin-bottom:5%;
}

.personal h2,
.production h2,
.mixing h2 {
margin-top:0;
font-size:medium;
}

.youtube {
width: 100%;
height: auto;
border: 0;
display: block;
aspect-ratio:16 / 9;
}
